@import url("./reset.css");
@import url("./common.css");

* {
    font-family: "SUIT", sans-serif;
}
:root {
    --point: #ff3d34;
    --primary: #ff534b;
    --secondary: #ff6b65;
    --background: #fcf6f6;
    --fontColor-b: #090504;
    --fontColor-w: #ffffff;
}
body {
    background-color: var(--background);
}

#dashboard {
    width: 100%;
    position: relative;
    height: auto;
}
.background {
    background-color: var(--fontColor-w);
    width: 1671px;
    height: 890px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    /* position: absolute; */
    margin: 54px auto;
}
.m-bg {
    width: 268px;
    height: 823px;
    background-color: var(--primary);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    /* text-align: left; */
}

.m-bg ul .logo {
    position: absolute;
    top: -54px;
    left: 50px;
}

.m-dash {
    padding-top: 30px;
}
.m-dash > li {
    padding-left: 55px;
}
.m-dash > li.clicks {
    background-color: var(--fontColor-w);
    /* line-height: 40px; */
}
.m-dash > li.clicks a {
    color: var(--primary);
}

.m-main li {
    margin-bottom: 27px;
    line-height: 40px;
}
.m-main li a,
.logout a {
    color: var(--fontColor-w);
}
.m-main li a i,
.m-main li a ion-icon {
    margin-left: 10px;
}

.profile {
    position: absolute;
    bottom: 81px;
    width: 235px;
    height: 219px;
    background-color: var(--fontColor-w);
    border-radius: 25px;
    left: 16px;
    line-height: 27px;
}
.profile div {
    text-align: center;
}

.profile img {
    padding: 20px 0;
}

.logout a {
    position: absolute;
    bottom: 27px;
    text-align: center;
    width: 100%;
}
.logout i {
    margin-left: 10px;
}
