/* class 공통 */
.m27 {
    margin: 27px 0px;
}
.m54 {
    margin: 54px 0px;
}
.mb54 {
    margin-bottom: 54px;
}
a {
    color: var(--fontColor-b);
}
.btn_l > a {
    color: var(--point);
}
.btn_l:hover a {
    color: var(--fontColor-w);
}
.btn_m {
    line-height: 40px;
    text-align: center;
}
.categorys > ul > li {
    background-color: var(--fontColor-w);
}
.R_BR {
    background: #ffffff;
    border: 2px solid #ffbebb;
    border-radius: 5px;
}

/* class 전체 */
section.align-self-center {
    transform: translateY(10%);
    box-sizing: border-box;
    padding-left: 3rem;
}

/* class 관리 상단부 */
.class_R_top {
    gap: 30px;
    justify-content: flex-end;
    margin-right: 141px;
}
ul.class_R_top {
    gap: 15px;
}
ul.class_R_top li.select_list {
    cursor: pointer;
}

/* /class 관리 상단부 */

/* class 관리 중단부 */
.class_mid > ul {
    gap: 27px;
    flex-direction: column;
}
.class_row {
    box-sizing: border-box;
    width: 1178px;
    height: 162px;
    padding: 27px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 25px;
    background: #fff;
}

/* class tit */
.class_text {
    width: 75%;
}
.class_rate.d-flex {
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.class_rate li:before {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--point);
    border-radius: 25px;
}
.class_rate li {
    gap: 15px;
}

/* only 비지니스 클래스 */
.class_text .class_rate.busi {
    justify-content: flex-end;
}

/* class sub tit */
.sub_tit .suit_rg_s {
    line-height: 27px;
}

/* class btn */
.txt_bot > .class_btn {
    gap: 30px;
    align-items: flex-end;
    justify-content: flex-end;
}
/* /class 관리 중단부 */

/* 클래스 등록 */
.class_subit_mid {
    gap: 72px;
    width: 1192px;
}

.class_submit_L {
    width: 597px;
    gap: 78px;
}

/* 강의 작성 */
select option[value=""][disabled] {
    display: none;
}

.class_submit_L > .R_BR {
    width: 100%;
}
