/* dashoard */
.container {
    position: absolute;
    top: 50%;
    right: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.col-6,
.col-4,
.col-5 {
    height: 217px;
    border: 2px solid var(--primary);
    margin: 0 27px 27px 0;
    border-radius: 20px;
}
.p_btn {
    border: 1px solid var(--primary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
    margin-right: 30px;
    background-color: var(--fontColor-w);
}
.p_btn i {
    color: var(--primary);
}

.pro input {
    border-radius: 10px;
    line-height: 27px;
    border: none;
}
.pro input:focus {
    outline: none;
}

.room {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 27px;
    /* width: 60%; */
}
.room > p {
    color: var(--primary);
    text-align: left;
    padding-left: 30px;
}
.con {
    width: 176px;
    height: 75px;
    background-color: #ffbebb;
    border-radius: 20px;
}
.con p {
    line-height: 75px;
}
.con p i {
    margin-right: 20px;
    color: var(--primary);
}
.roclass p {
    margin-bottom: 20px;
}

.morny > div {
    width: 120px;
    height: 120px;
    background-color: #ffbebb;
}
