#dashboard .background .col-md-10 {
  height: 100%;
}
td {
  line-height: 60px;
  border-bottom: 1px solid #ccc;
}
.qna {
  width: 100%;
}
.qna h2 {
  margin-bottom: 54px;
}
.reply_status,
.shortcuts {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
}
.reply_status {
  color: #fff;
}
.shortcuts {
  border: 2px solid var(--primary);
  color: var(--primary);
}
.answer_wait {
  background: #7d7d7d;
}
.answer_complete {
  background: green;
}
