#dashboard .background .col-md-10 {
  height: 100%;
}
table{
  margin-top: 78px;
}
/* thead tr{
  border-bottom: 1px solid #000;
}
tbody tr {
  line-height: 60px;
  border-bottom: 1px solid #ccc;
} */
tr {
  line-height: 60px;
}
.reply_status,
.shortcuts {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
}
.reply_status {
  color: #fff;
}
.shortcuts {
  border: 2px solid var(--primary);
  color: var(--primary);
}
.answer_wait {
  background: #7d7d7d;
}
.answer_complete {
  background: green;
}

/* 페이지네이션 */
.class_pg {
  width: 100%;
  gap: 40px;
}
.class_pg > li > a {
  color: var(--point);
  position: relative;
  display: inline-block;
  width: 23px;
  height: 27px;
  text-align: center;
}
.class_pg > li > .PG_num::after {
  content: " ";
  display: inline-block;
  width: 23px;
  border-bottom: 3px solid var(--point);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.class_pg > li > .PG_num.click::after {
  opacity: 1;
}