.background {
  height: 100%;
}
.qna_reply {
  margin-top: 66px;
  margin-left: 140px;
  width: 1380px;
}
h2:after {
  content: "";
  display: block;
  width: 1380px;
  border-bottom: 1px solid #000;
  margin-top: 21px;
}
.user_question_info {
  margin-top: 50px;
}
.classname,
.reply_status {
  color: #7d7d7d;
}
.question_title {
  margin-top: 24px;
}
.reply_info_border {
  border-bottom: 1px solid #ccc;
}
.reply_info {
  margin-top: 30px;
  margin-bottom: 50px;
}
.userphoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #7d7d7d;
}
.user_question{
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 50px 27px 50px 27px;
}
.admin_aswer_form {
  margin-top: 50px;
  margin-bottom: 50px;
  background: var(--background);
  border-radius: 10px;
}
.reply_admin_section {
  width: 1320px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 27.5px;
}
.admin_reply_title{
  margin-bottom: 30px;
}
.adminphoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../img/charlie.png) no-repeat center/cover;
}
.adminid{
  margin-bottom: 8px;
}
.date {
  color: #7d7d7d;
}
.tiny_library {
  width: 1300px;
  height: 598px;
  border-radius: 10px;
  background: var(--fontColor-w);
  margin-bottom: 27px;
}
.tiny{
padding: 20px;
}
.qna_btn{
  margin-bottom: 0;
}
.admin_aswer_form .d-flex .qna_btn{
  margin-bottom: 0px;
}